*{
    margin: 0;
    padding: 0;
    }
    .full_body{
        height: 100%;
        width: 100%;
    }
    .main_body{
        margin-top: 156px;
        text-align: center;
    }
    .two_text{
        border-radius: 5px;
        font-size: 10pt;
        height: 20px;
        width : 440px;
    }
    .one{
        padding-bottom: 19px;
    }
    .three{
        padding-top: 57px;
        border-style: solid;
        height: auto;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
    #add{
        border-radius: 5px;
    }
    .css-tasks{
        font-size: 20px;
        padding: 10px;

    }    